Prática de aula (Entendimento de dados)

Visualização #01 - Criar um gráfico de barras simples para visualizar a arrecadação total para o conjunto de arrecadação de filmes.

Importação de Bibliotecas (Pandas, Matplotlib e Seaborn)

In [2]:
#adotando um alias para cada um
import pandas as pd 
import seaborn as sns
from matplotlib import pyplot as plt

Carregando Conjunto de Dados

In [3]:
#Carregar conjunto de dados
df_filmes = pd.read_csv (
    'https://gist.githubusercontent.com/omadson/770934cb0df9e2d2c3e8db031f1139a5/raw/4d181efc035b327d9d66256915951384517c603e/arrecadacao.csv'
    )
df_filmes.head()

   arrecadacao                          titulo
0      7316746                       Ferdinand
1     36169328  Jumanji: Welcome to the Jungle
2     19928525                 Pitch Perfect 3
3     71565498        Star Wars: The Last Jedi
4      8805843            The Greatest Showman

Preparando Visualização de Dados

In [4]:
#Utilizando valores simples
df_filmes = df_filmes.assign (arrecadacao_milhao = df_filmes.arrecadacao / 1000000)

In [5]:
#Ordenando os dados por arrecadação
df_filmes = df_filmes.sort_values (by= 'arrecadacao', ascending= False)

In [6]:
#Formatando com linhas verticais
sns.set_style ("whitegrid")

In [1]:
#Estilização de barras (mesmas cores e horizontais)
plt.figure (figsize= (5,2))
grafico = sns.barplot (data= df_filmes, x= 'arrecadacao_milhao', y= 'titulo', color= 'tomato')

#Adicionando valores às barras
grafico.bar_label (
    grafico.containers[0],
    fmt= '%.1f',
    label_type= 'center',
    color='white'
)

#Melhorando a descrição
plt.xlabel ('Arrecadação (Milhões de dólares)')
plt.ylabel ('Filme')
plt.title ("Arrecadação de filmes")

#Por fim, removendo excessos
grafico.set (frame_on=False)
grafico.axvline (0, color= 'k', clip_on= False)

plt.show ()

NameError: name 'plt' is not defined