# Conjuntos de Dados (Pandas)

## 2. Gorjetas (tips)

In [2]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

### Atividade

1. Carregar conjunto de dados;
2. Criar dicionário de dados;
3. Descrever os dados usando estatísticas de tendência central e dispersão;
4. Calcular estatísticas de forma separada para cada variável categórica.

### 2.1. Carregar conjunto 'tips'

In [4]:
dfTips = sns.load_dataset ('tips')
dfTips.head ()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

### 2.2. Dicionário de dados 'tips'

In [7]:
dictTips = pd.DataFrame ([
    {
        "variavel": "total_bill",
        "descricao": "a conta total de um indivíduo",
        "tipo": "Quantitativa",
        "sub_tipo": "Contínua"
    },
    {
        "variavel": "tip",
        "descricao": "a gorjeta ofertada por este indivíduo",
        "tipo": "Quantitativa",
        "sub_tipo": "Contínua"
    },
    {
        "variavel": "sex",
        "descricao": "sexo do indivíduo",
        "tipo": "Qualitativa",
        "sub_tipo": "Nominal"
    },
    {
        "variavel": "smoker",
        "descricao": "se o indivíduo é fumante ou não",
        "tipo": "Qualitativa",
        "sub_tipo": "Nominal"
    },
    {
        "variavel": "day",
        "descricao": "dia do pedido",
        "tipo": "Qualitativa",
        "sub_tipo": "Ordinal"
    },
    {
        "variavel": "time",
        "descricao": "horário em que ocorrera o pedido",
        "tipo": "Qualitativa",
        "sub_tipo": "Ordinal"
    },
    {
        "variavel": "size",
        "descricao": "capacidade da mesa do referido pedido",
        "tipo": "Quantitativa",
        "sub_tipo": "Discreta"
    }
    ])

dictTips

     variavel                              descricao          tipo  sub_tipo
0  total_bill          a conta total de um indivíduo  Quantitativa  Contínua
1         tip  a gorjeta ofertada por este indivíduo  Quantitativa  Contínua
2         sex                      sexo do indivíduo   Qualitativa   Nominal
3      smoker        se o indivíduo é fumante ou não   Qualitativa   Nominal
4         day                          dia do pedido   Qualitativa   Ordinal
5        time       horário em que ocorrera o pedido   Qualitativa   Ordinal
6        size  capacidade da mesa do referido pedido  Quantitativa  Discreta

### 2.3. Descrição estatística 'tips'

### 2.4. Cálculo estatístico 'tips'