Conjuntos de Dados (Pandas)

1. Pinguins (penguins)

In [2]:
import pandas as pd
import seaborn as sns
from matplotlib import pyplot as plt

Atividade

1. Carregar conjunto de dados;
2. Criar dicionário de dados;
3. Descrever os dados usando estatísticas de tendência central e dispersão;
4. Calcular estatísticas de forma separada para cada variável categórica.

1.1. Carregar conjunto 'penguins'

In [3]:
dfPenguins = sns.load_dataset ('penguins')
dfPenguins.head ()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

1.2. Dicionário de dados 'penguins'

In [5]:
dictPenguins = pd.DataFrame ([
    {
        "variavel": "species",
        "descricao": "categorizacao da especie do pinguim",
        "tipo": "Qualitativa",
        "sub_tipo": "Nominal"
    },
    {
        "variavel": "island",
        "descricao": "o nome da ilha que o pinguim foi catalogado",
        "tipo": "Qualitativa",
        "sub_tipo": "Nominal"
    },
    {
        "variavel": "bill_length_mm",
        "descricao": "comprimento do bico em milimetros",
        "tipo": "Quantitativa",
        "sub_tipo": "Continua"
    },
    {
        "variavel": "bill_depth_mm",
        "descricao": "espessura do bico em milimetros",
        "tipo": "Quantitativa",
        "sub_tipo": "Continua"
    },
    {
        "variavel": "flipper_length_mm",
        "descricao": "comprimento da nadadeira em milimetros",
        "tipo": "Quantitativa",
        "sub_tipo": "Continua"
    },
    {
        "variavel": "body_mass_g",
        "descricao": "massa corporea do pinguim em gramas",
        "tipo": "Quantitativa",
        "sub_tipo": "Continua"
    },
    {
        "variavel": "sex",
        "descricao": "especificacao do sexo do pinguim",
        "tipo": "Qualitativa",
        "sub_tipo": "Nominal"
    }
    ])

dictPenguins

,variavel,descricao,tipo,sub_tipo
0,species,categorizacao da especie do pinguim,Qualitativa,Nominal
1,island,o nome da ilha que o pinguim foi catalogado,Qualitativa,Nominal
2,bill_length_mm,comprimento do bico em milimetros,Quantitativa,Continua
3,bill_depth_mm,espessura do bico em milimetros,Quantitativa,Continua
4,flipper_length_mm,comprimento da nadadeira em milimetros,Quantitativa,Continua
5,body_mass_g,massa corporea do pinguim em gramas,Quantitativa,Continua
6,sex,especificacao do sexo do pinguim,Qualitativa,Nominal

1.3. Descrição estatística 'penguins'

In [7]:
#dados gerais da base
dfPenguins.describe ()
#quanto as dados nominais

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

1.4. Cálculo estatístico 'penguins'